/* style.css */
.container {
  max-width: 800px;
  margin: 0 auto;
}

.prediction-button {
  width: 150px; 
  height: 32px;
  font-size: 20px;
  text-shadow: 5;
}

.dropdown-container1 {
  display: inline-block;
  margin-right: 100px;
}

.dropdown-container2 {
  display: inline-block;
  margin-left: 100px;
}

.dropdown {
  width: 300px;
  text-align: left; 
  color: black;
  margin: 0 auto;
}

.dropdown select option {

  padding-left: 100px;
}


Div {
 text-align: center;
 color: black;

}

/* Slider container */
.slider-container {
  margin-bottom: 20px;
}

/* Slider label */
.slider-label {
  margin-bottom: 10px;
}

/* Slider input */
.slider-input {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

/* Slider tooltip */
.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip.show {
  visibility: visible;
  opacity: 0.8;
}

.rc-slider-track {
  background-color: #9BD03F;
}

.rc-slider-dot-active {  
  border-color: #9BD03F;
  border: solid 2px #9BD03F;
}

.rc-slider-handle {
  background-color: #9BD03F;
  border-color: #9BD03F;
}

.rc-slider-handle:hover {
  border-color: #9BD03F;
}

.rc-slider-handle-active:active {
  border-color: #9BD03F;
}

P {
    text-align : center;
    color: black;
    margin: 0 auto;
    }


.custom-tabs {
    border-top-left-radius: 3px;
    background-color: #f9f9f9;
    padding: 0px 24px;
    border-bottom: 1px solid #9BD03F;
}

.custom-tab {
    color:#586069;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #fafbfc;
    padding: 12px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.custom-tab--selected {
    color: black;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #9BD03F !important;
}
